.dishPage-image {
    width: 100%;
  }
  
  .label-line {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 1.97px;
    text-align: center;
  }
  
  .label-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust as needed for the thickness of the line */
    width: 100%;
    height: 1px; /* Adjust as needed for the thickness of the line */
    background-color: orange; /* Set color to orange */
  }
  
  .side-options {
    display: flex;
    flex-direction: column;
  }
  
  .side-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 1.97px;
    text-align: center;
  }
  
  .change-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 1.97px;
    text-align: center;
  }
  
  .side-option input[type="radio"] + label,
  .change-option input[type="checkbox"] + label {
    margin-left: 10px; /* Adjust spacing between radio button/checkbox and label */
    cursor: pointer;
  }
  
  .side-option input[type="radio"] + label .circle {
    display: inline-block;
    width: 20px; /* Size of the circle */
    height: 20px; /* Size of the circle */
    border: 2px solid orange; /* Border color */
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px; /* Adjust spacing */
  }
  
  .add-to-bag-btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2.67px;
    text-align: center;
    padding: 15px 30px; /* Adjust padding as needed */
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .add-to-bag-btn:hover {
    background-color: darkorange; /* Darker color on hover */
  }
  
  .signs {
    display: inline-flex;
    align-items: center;
  
    button {
      border: none;
      background: none;
      color: black;
      font-size: 60px;
  
      &:first-child {
        margin-right: 10px;
      }
  
      &:last-child {
        margin-left: 10px;
      }
    }
  
    h1 {
      margin: 0 10px;
    }
  }
