.icons-contanier{
    background-color: #FAFAFA;
}

.sentcence{
    text-align: center;
    display: block;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 200;
    line-height: 35px;
    letter-spacing: 1.25px;
}