body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.hero-pic-div{
    position: relative;
    width: 450px;
    height: 273px;
    top:4px;
    color: #000000;
    overflow-x: hidden;
    background: url('../../../public/images/HomePage/Hero.png') center center no-repeat;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12px;
    
    .hero-div {
        background-color: rgba(255, 255, 255, 0.88);
        width: 335px;
        height: 144px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
        p {
          width: 317px;
          height: 64px;
          font-family: Helvetica Neue;
          font-size: 24px;
          font-weight: 200;
          line-height: 32px;
          letter-spacing: 1.9700000286102295px;
          text-align: left;
        }
      
        .input-search {
          input {
            width: calc(315px - 2 * 12px);
            height: 30px;
            border-radius: 4px;
            border: 0.5px solid rgba(0, 0, 0, 1);
            padding: 0px 10px;
            margin-bottom:20px;
            gap: 8px;
            font-family: Helvetica Neue;
            font-size: 12px;
            font-weight: 200;
            line-height: 15px;
            letter-spacing: 1.2899999618530273px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0);

          }

          img{
            position: absolute;
            left: 65px;
            padding-top: 5px;
          }
        }
    }

  @media only screen and (min-width: 768px) {
    width: 1458px;
    height: 696px;
    top: 5px;

    .hero-div {
      width: 776px;
      height: 221px;
      top: 300px;
      left: 332px;
      padding: 36px, 126px, 36px, 126px;
      gap: 18px;

      p{
        display: block;
        width: 404px;
        font-size: 32px;
        font-weight: 200;
        line-height: 40px;
        letter-spacing: 1.9700000286102295px;
        text-align: center;
        margin-bottom: 20px;
      }

      .input-search {
        input {
          width: 505px;
          height: 48px;
          margin-bottom: 30px;
          font-family: Helvetica Neue;
          font-size: 24px;
          font-weight: 200;
          line-height: 29px;
          letter-spacing: 1.2899999618530273px;
          text-align: center;
        }
  
        img{
          position: absolute;
          width: 32px;
          height: 32px;
          top:54.8%;
          left:32.5%;
        }
      }
    } 
  } 
}

